# Server
NODE_ENV=development
PORT=3000

# Database
DB_NAME=fileflow_hub
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5433
DB_DIALECT=postgres

# Auth
SECRET_KEY=dev_secret_key_change_me

# Storage
UPLOADS_PATH=./uploads
STORAGE_DRIVER=local
# local or s3

# MinIO (for S3 storage)
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=my-bucket

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379